body{
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.header {
    background-color: #21C08B;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.login{
    background: linear-gradient(#21C08B, #AB88FF);
    display: flex;
    align-items: center; /* alinear vertical*/
    justify-content: center; /* alinear horizontal*/
    flex-direction: column;
    padding: 0px 30px;
    /*vh altura que esta viendo el usuario */
    min-height: calc(100vh - 300px);
}

.login__container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 60px 68px 40px;
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.login__container--form{
    display: flex;
    flex-direction: column;
}

.login__container--form label {
    font-size: 14px;
}

.login__container--remember-password{
    color: white;
    display: flex;
    justify-content: space-between; /*Espacio entre los 2 elementos*/
    margin-top: 10px;
}

.login__container--remember-password a{
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.login__container--remember-password a:hover{
    text-decoration: underline;
}

.login__container--social-media > div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.login__container--social-media > div > img{
    width: 30px;
    margin-right: 10px;
}

.login__container--register {
    font-size: 14px;
}

.login__container--register a {
    font-size: 16px;
    color:white;
    text-decoration: none;
    font-weight: bold;
}

.login__container--register a:hover{
    text-decoration: underline;
}

.input {
    background-color: transparent;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid white;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    color:white;
    height: 50px;
}

.input::placeholder{
    color:white;
}

.button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}

.footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #AB88FF;
    justify-content: center;
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    padding-right: 30px;
}

.footer a:hover {
    text-decoration: underline;
}